<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4"><%= @user.username %>'s profile!</h1>
    <h2> Followers: <%= @followers.count %> </h2>
    <% if @user.id != Current.user.id && @user.followers.pluck(:follower_id).include?(Current.user.id) %>
        <%= button_to "Unfollow", search_path, method: :put, class: "btn btn-outline-secondary" %>
    <% end %>
    <% if @user.id != Current.user.id && !@user.followers.pluck(:follower_id).include?(Current.user.id) %>
        <%= button_to "Follow", search_path, method: :put, class: "btn btn-primary" %>
    <% end %>
    <ul>
    <% @tweets.each do |tweet| %>
        <li>
        <%= link_to tweet.title, tweet %>
        </li>
    <% end %>
    </ul>

</div> 
