<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4">Welcome to twitter clone!</h1>
    <h1>Tweets</h1>

    <%= form_with model: @tweet, id: "tweet-submit", url: tweets_path do |form| %>

        <div class="mb-3">
            <%= form.label :body %><br>
            <%= form.text_area :body, class: "form-control" %>
        </div>
        <div class="mb-3 ">
            <%= form.submit "Create Tweet", class: "btn btn-primary" %>
        </div>
    <% end %>

    <ul id="tweet-list">

        <%= turbo_frame_tag "tweets_list" do %>
            <% @tweets.reverse.each do |tweet| %>
                    <%= render partial: "tweet", locals: { tweet: tweet } %>
                    <br>
            <% end %>
        <% end %>

    </ul>

</div> 
