<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4">Welcome to twitter clone!</h1>
    <h1>Tweets</h1>

    <%= form_with model: @tweet, url: tweets_path do |form| %>

        <div class="mb-3">
            <%= form.label :body %><br>
            <%= form.text_area :body, class: "form-control" %>
        </div>
        <div class="mb-3 ">
            <%= form.submit "Create Tweet", class: "btn btn-primary" %>
        </div>
    <% end %>

    <ul reversed>
        <% @tweets.reverse.each do |tweet| %>
            <li>
                <%= tweet.user.username %><br>
                <%= link_to tweet.body, tweet_path(tweet.id) %><br>
                <% if session[:user_id] && tweet.liked_by.pluck(:id).include?(Current.user.id) %>
                    <%= button_to "Unlike", tweet_likes_path(tweet.id), class: "btn btn-secondary" %>
                <% end %>
                <% if session[:user_id] && !tweet.liked_by.pluck(:id).include?(Current.user.id) %>
                    <%= button_to "Like", tweet_likes_path(tweet.id), class: "btn btn-primary" %>
                <% end %>
                
                <%= tweet.likes.count %>
            </li><br>
        <% end %>
    </ul>

</div> 
