<h1><%= @tweet.title %></h1>

<small> Status: <%= @tweet.status %> </small>

<p><%= @tweet.body %></p>

<small> Tweet By: <%= @tweet.user.email %> </small>

<% if session[:user_id] && @tweet.user.email == Current.user.email %>
    <div>
        <%= link_to "Edit", edit_tweet_path(@tweet), class: "btn btn-outline-secondary mb-3" %> 
        <%= button_to "Delete", tweet_path(@tweet), method: :delete, class: "btn btn-outline-secondary" %>      
    </div>
<% end %>

<h3>Comments</h3>
<% @tweet.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h4>Add a comment:</h4>
<%= form_with model: [ @tweet, @tweet.comments.build ] do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>
