<%= render partial: "tweets/tweet", locals: { tweet: @tweet } %>

<%= link_to "#{@tweet.retweets.count} retweets", retweets_tweet_path(@tweet.id) %>
<%= link_to "#{@tweet.likes.count} likes", likes_tweet_path(@tweet.id) %>


<h3>Replies</h3>
<% @replies.each do |reply| %>
    <%= render partial: "tweets/tweet", locals: { tweet: reply } %><br>
<% end %>

<h4>Add a reply:</h4>
<%= form_with url: add_reply_tweet_path(@tweet.id) do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Reply", class: "btn btn-primary" %>
  </p>

<% end %>

