
<h2> <%= @tweet.user.username %> </h2>

<p><%= @tweet.body %></p>

<% if session[:user_id] && @tweet.user.email == Current.user.email %>
    <div>
        <%= link_to "Edit", edit_tweet_path(@tweet), class: "btn btn-outline-secondary mb-3" %> 
        <%= button_to "Delete", tweet_path(@tweet), method: :delete, class: "btn btn-outline-secondary" %>      
    </div>
<% end %>

<%= link_to "#{@tweet.likes.count} likes", tweet_likes_path(@tweet.id) %>

