<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4"><%= @user.username %>'s profile!</h1>
    <h2> Followers: <%= link_to @followers.count, followers_user_path(@user.id) %> </h2>
    <% if @user.id != Current.user.id %>
        <% if Current.user.followee?(@user.id) %>
            <%= button_to "Unfollow", user_path, method: :put, class: "btn btn-outline-secondary" %>
        <% else %>
            <%= button_to "Follow", user_path, method: :put, class: "btn btn-primary" %>
        <% end %>
    <% end %>
    <ul>
        <% @tweets.reverse.each do |tweet| %>
            <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
            <br>
        <% end %>
    </ul>

</div> 
